# Player 1
p1_move_up=f
p1_move_down=s
p1_move_left=r
p1_move_right=t
p1_shoot=a

# Player 2
p2_move_up=up
p2_move_down=down
p2_move_left=left
p2_move_right=right
p2_shoot=o

# Utility
screenshot=n
pause=p
quit=escape
